@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400&family=Poppins:wght@300;400&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "poppins";
}
#principal {
  height: 100vh;
  background: url(fundo.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
#cor {
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
}
#navbar {
  height: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}
#navbar #logo span {
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 8px;
  font-size: 1.2em;
  text-shadow: 1px 1px 1px rgb(36, 36, 36);
}
#navbar ul {
  display: flex;
  list-style: none;
  gap: 30px;
  /* border: 1px solid rgba(255, 255, 255, 0.4);
    padding: 5px 13px;
    border-radius: 20px; */
}
#navbar ul li a {
  color: black;
  text-decoration: none;
  font-size: 0.9em;
  font-weight: 500;
  letter-spacing: 1px;
}
#navbar ul li a::after
{
  content:"";
  display: block;
  background-color: white;
  height: 1px;
  width: 0%;
  margin: 0 auto;
}
#navbar ul li a:hover::after
{
  width: 100%;
  transition: 0.3s ease-in;
}
#navbar ul li a:hover {
  color: white;
  transition: 0.3s;
}
#icons {
  width: 100px;
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#icons i {
  font-size: 1.3em;
  cursor: pointer;
}
#icons i:hover {
  color: white;
}
aside {
  position: relative;
  width: 100%;
  height: 70vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center
}

#esquerda-textos {
  width: 500px;
  padding: 10px 0px;
}
#esquerda-textos h2 {
  color: white;
  font-size: 3.5em;
  letter-spacing: 4px;
  text-transform: uppercase;
  text-shadow: 2px 2px 5px black;
  text-align: center;
}

#esquerda-textos h3 {
  color: white;
  text-transform: uppercase;
  font-style: italic;
  font-size: 1.7em;
  /* position: absolute;
    top: 80px;
    left: 80px; */
  text-shadow: 2px 2px 5px black;
}
#subtitulo {
  display: inline-block;
  width: 320px;
  text-align: center;
}
#btns {
  width: 220px;
  margin: 0 auto;
  padding: 10px 0px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 25px;
  margin-top: 25px;
}
#btns input {
  padding: 8px 25px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  background-color: #02080a;
  color: white;
  box-shadow: 1px 1px 5px 1px black;
}
#btns input:hover {
  background-color: #022330;
}

#direita-textos h3 {
  text-align: center;
  margin: 10px 0;
  font-style: italic;
  text-decoration: underline wavy white;
  color: white;
  text-shadow: 1px 1px 10px black;
}
#direita-textos form {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 300px;
  height: 340px;
  border-radius: 20px;
}
#direita-textos form input {
  width: 230px;
  height: 30px;
  padding: 0px 30px;
  outline: none;
  border-radius: 5px;
  border: none;
}
#direita-textos label {
  font-size: 0.9em;
  font-weight: bold;
  color: rgb(3, 3, 3);
  text-shadow: 1px 1px 2px white;
}
#direita-textos textarea {
  width: 230px;
  height: 100px;
  resize: none;
  padding: 5px;
  outline: none;
  border-radius: 5px;
  border: none;
}
.input {
  position: relative;
  align-items: center;
  display: flex;
  align-items: center;
  margin: 5px 0px;
}
.input i {
  position: absolute;
  margin-left: 5px;
}
#btn-form {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}
#btn-form input[type="submit"] {
  background-color: black;
  color: white;
  width: 50%;
  cursor: pointer;
  padding: 5px 0px;
  opacity: 0.8;
}
#btn-form input[type="submit"]:hover {
  opacity: 1;
  transition: 0.2s ease;
}
